@page "/ty"
<h1 style="text-align: center; color: salmon; font-size: 70px; font-family: Ravie">
    Thank you for shoppinh with ACME 
</h1>
<h4 style="text-align: center; color: salmon; font-size: 70px; font-family: Ravie">
    If your delivery date is today, it will be sent within 30 Minutes to 1 Hour
</h4>
<h4 style="text-align: center; color: salmon; font-size: 70px; font-family: Ravie">
    If your delivery date is not today, we will contact you shortly to confirm the timing
</h4>

